FLASK_ENV=development
FLASK_APP=app.py
SECRET_KEY=change-me

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_RAW=raw_posts
KAFKA_TOPIC_PREDICTIONS=predictions

BLUESKY_API_BASE_URL=https://api.bsky.app
BLUESKY_QUERY=spark kafka flask
BLUESKY_SEARCH_LIMIT=10

MODEL_PATH=models/sentiment_model.joblib
